<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap>
    <insert id="insertSeason" parameterClass="Map">	
    	INSERT
    	INTO hufs_season
    	VALUES
    	(#year#, #season#)
    </insert>
    
    <select id="isExistSeason" parameterClass="Map" resultClass="Integer">
    	SELECT COUNT(*)
    	FROM hufs_season
    	WHERE lecture_year=#year# AND lecture_season=#season#
    </select>

</sqlMap>