<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMap PUBLIC "-//ibatis.apache.org//DTD SQL Map 2.0//EN"
    "http://ibatis.apache.org/dtd/sql-map-2.dtd">

<sqlMap>
    <insert id="insertConfig" parameterClass="java.util.Map">	
    	INSERT
    	INTO hufs_config
    	VALUES
    	(#key#, #value#)
    </insert>
    
    <select id="getConfig" parameterClass="java.lang.String" resultClass="java.lang.String">
    	SELECT "value"
    	FROM hufs_config
    	WHERE "key"=#key#
    </select>

</sqlMap>